@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');






:root {
  --primary: #3587FF;
  --secondary: #9333ea;
  --text: #1e293b;
  --bg: #ffffff;
  --bg-sidebar: #ffffff;
  --bg-content: #F5F5F5;
  --text-inActive: #ABABAB;
}

/* [data-theme="dark"] {
  --color-primary: #3b82f6;
  --color-secondary: #a855f7;
  --color-accent: #fbbf24;
  --color-text: #f1f5f9;
  --color-bg: #0f172a;
} */





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.syne-font {
  font-family: "Syne", sans-serif;
  font-style: normal;
}

